---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---


<div class="flex flex-row gap-6 justify-center mx-auto inline py-4">
    <div class="p-14 w-xl bg-red-400"></div>
    <div class="p-14 w-xl bg-blue-400"></div>
</div>